$main-color: #fd5068;
$main-text-color: #fff;

.userEditPage {
  .header {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }
  .submitBtn {
    background: $main-color;
    color: $main-text-color;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}
